@model TaskTide.Models.TaskList

@{
    ViewData["Title"] = "Task Details";
}

<div class="details-view">
    <h1>@ViewData["Title"]</h1>

    <hr />

    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col-sm-2">Task Title:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.TaskTitle)</dd>

                <dt class="col-sm-2">Task Description:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.TaskDescription)</dd>

                <dt class="col-sm-2">Due Date:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.DueDate)</dd>

                <dt class="col-sm-2">Status:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>

                <dt class="col-sm-2">Importance:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Importance)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
    </div>
</div>